@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*::before,
*::after,
* {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img, picture, svg {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

textarea::placeholder {
    font: inherit;
    color: inherit;
}

:root {
    font-size: 62.5%;
    --martini-glass-color: rgb(255, 220, 0);
    --martini-glass-color-darken: rgb(179, 155, 0);
    --dollar-sign-color: rgb(0, 200, 0);
    --dollar-sign-color-darken: rgb(0, 141, 0);
    --high-heels-color: rgb(117, 41, 189);
    --high-heels-color-darken: rgb(91, 31, 148);
    --computer-color: rgb(255, 120, 0);
    --computer-color-darken: rgb(185, 87, 0);
    --car-color: rgb(50, 130, 246);
    --car-color-darken: rgb(39, 100, 192);
    --football-color: rgb(110, 56, 18);
    --football-color-darken: rgb(82, 42, 13);
    --guitar-color: rgb(232, 26, 26);
    --guitar-color-darken: rgb(168, 21, 21);
    --clapperboard-color: rgb(153, 153, 153);
    --clapperboard-color-darken: rgb(104, 103, 103);
    --button-color: rgb(159, 201, 25);
    --button-color-darker: rgb(107, 135, 17);
    --martini-glass-image: url('../img/martini-glass.png');
    --dollar-sign-image: url('../img/dollar-sign.png');
    --high-heels-image: url('../img/high-heels.png');
    --computer-image: url('../img/computer.png');
    --car-image: url('../img/car.png');
    --football-image: url('../img/football.png');
    --guitar-image: url('../img/guitar.png');
    --clapperboard-image: url('../img/clapperboard.png');
    --car-arrow-rotate: 0deg;
    --dollar-sign-arrow-rotate: -45deg;
    --martini-glass-arrow-rotate: -90deg;
    --computer-arrow-rotate: -135deg;
    --guitar-arrow-rotate: -180deg;
    --football-arrow-rotate: -225deg;
    --clapperboard-arrow-rotate: -270deg;
    --high-heels-arrow-rotate: -315deg;
}

html, body {
    min-height: 100vh;
    user-select: none;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(230, 230, 230);
}

#app,
#sidebar {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#app.sidebar-open #sidebar {
    left: 0;
}

header {
    display: flex;
    min-height: 56px;
}

#menu-button {
    width: 56px;
    display: grid;
    place-items: center;
}

header .right {
    width: 56px;
}

header .middle {
    display: grid;
    place-items: center;
    flex: 1;
}

.hamburger {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 24px;
}

.hamburger span {
    display: block;
    content: '';
    height: 3px;
    background-color: black;
}

#title {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(181, 230, 29);
    text-shadow: 2px 0 2px #000, 0 -2px 2px #000, 0 2px 2px #000, -2px 0 2px #000;
}

main {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    flex: 1;
}

#game {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

#round-number {
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

#players {
    display: flex;
    flex-wrap: wrap;
}

#players .player {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 100px;
}

#players .player.judge {
    order: -1;
}

#players .player .name {
    display: flex;
}

#players .player.me .name::after {
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    background-image: url('../img/star.png');
    background-repeat: no-repeat;
    background-size: 10px 10px;

}

.token {
    position: relative;
    display: block;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 100%;
    border: 3px solid black;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    line-height: 100%;
}

.token.crown::before {
    position: absolute;
    content: '';
    left: -20%;
    top: -60%;
    width: 140%;
    aspect-ratio: 100 / 60;
    background-image: url(../img/crown.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#winners h2 {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
}

#winners .token {
    width: 50px;
}

#winners .winners {
    display: flex;
    justify-content: center;
}

#winners .winner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    font-size: 1.2rem;
    font-weight: bold;
}



/*
#players .player.judge span.token::before {
    position: absolute;
    left: -3px;
    top: -6px;
    display: block;
    content: '';
    width: 40px;
    height: 40px;
    background-image: url('../img/judge-wig.png');
    background-size: 40px;
    background-repeat: no-repeat;
}

#players .player.winner span.token::before {
    position: absolute;
    left: -3px;
    top: -16px;
    display: block;
    content: '';
    width: 40px;
    height: 40px;
    background-image: url('../img/crown.png');
    background-size: 40px;
    background-repeat: no-repeat;
}*/

.bg-martini-glass {
    background-color: var(--martini-glass-color);
    background-image: var(--martini-glass-image);
}

.bg-dollar-sign {
    background-color: var(--dollar-sign-color);
    background-image: var(--dollar-sign-image);
}

.bg-high-heels {
    background-color: var(--high-heels-color);
    background-image: var(--high-heels-image);
}

.bg-computer {
    background-color: var(--computer-color);
    background-image: var(--computer-image);
}

.bg-car {
    background-color: var(--car-color);
    background-image: var(--car-image);
}

.bg-football {
    background-color: var(--football-color);
    background-image: var(--football-image);
}

.bg-guitar {
    background-color: var(--guitar-color);
    background-image: var(--guitar-image);
}

.bg-clapperboard {
    background-color: var(--clapperboard-color);
    background-image: var(--clapperboard-image);
}

.bg-color-martini-glass {
    background-color: var(--martini-glass-color);
}

.bg-color-guitar {
    background-color: var(--guitar-color);
}

.bg-color-football {
    background-color: var(--football-color);
}

.bg-color-clapperboard {
    background-color: var(--clapperboard-color);
}

.bg-color-dollar-sign {
    background-color: var(--dollar-sign-color);
}

.bg-color-high-heels {
    background-color: var(--high-heels-color);
}

.bg-color-car {
    background-color: var(--car-color);
}

.bg-color-computer {
    background-color: var(--computer-color);
}

.bg-color-guitar.shadow {
    box-shadow: 0 0.3rem 0 0 var(--guitar-color-darken);
}

.bg-color-football.shadow {
    box-shadow: 0 0.3rem 0 0 var(--football-color-darken);
}

.bg-color-clapperboard.shadow {
    box-shadow: 0 0.3rem 0 0 var(--clapperboard-color-darken);
}

.bg-color-dollar-sign.shadow {
    box-shadow: 0 0.3rem 0 0 var(--dollar-sign-color-darken);
}

.bg-color-high-heels.shadow {
    box-shadow: 0 0.3rem 0 0 var(--high-heels-color-darken);
}

.bg-color-car.shadow {
    box-shadow: 0 0.3rem 0 0 var(--car-color-darken);
}

.bg-color-computer.shadow {
    box-shadow: 0 0.3rem 0 0 var(--computer-color-darken);
}

.bg-color-martini-glass.shadow {
    box-shadow: 0 0.3rem 0 0 var(--martini-glass-color-darken);
}

.bg-color-white {
    background-color: white;
}

.black-border {
    border: 2px solid black;
}

.white-text {
    color: white;
    text-shadow: 0 0.1rem 0.2rem black;
}

#game-name {
   text-align: center;
   font-size: 1.5rem;
   font-weight: bold;
}

#countdown-timer {
    display: grid;
    place-items: center;
    font-size: 2.5rem;
    font-weight: bold;
}

#game .message {
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
}

#game button {
    margin-top: auto;
}

.modal-container {
    display: grid;
    position: fixed;
    inset: 0;
    place-items: center;
    background-color: rgb(0, 0, 0, 0.5);
}

.modal {
    display: none;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
    padding: 2rem;
    background-color: white;
}

.modal-container .modal {
    display: flex;
}

:where(#join-game-modal, #create-game-modal) h2 {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
}

:where(#join-game-modal, #create-game-modal) input[type=text] {
    display: block;
    height: 5rem;
    padding: 1rem;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 5px;
    outline: none;
    font-size: 1.6rem;
    text-align: center;
}

:where(#join-game-modal, #create-game-modal) .tokens {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

:where(#join-game-modal, #create-game-modal) .tokens input[type=radio] {
    display: none;
}

:where(#join-game-modal, #create-game-modal) .tokens input[type=radio]:checked + .token {
    width: 50px;
    height: 50px;
}

.modal label {

}

.button {
    display: block;
    padding: 1.5rem 1rem;
    background-color: var(--button-color);
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
}

.button:hover {
    background-color: var(--button-color-darker);
}


#questions {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.question-button {
    display: block;
    padding: 1.5rem 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
    color: white;
    text-shadow: 0 0.1rem 0.2rem black;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 2.5rem;
}

#answer {
    position: relative;
    margin-top: auto;
}

#char-count {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

#answer button {
    position: absolute;
    display: none;
    top: 2rem;
    right: 2rem;
    width: 40px;
    height: 40px;
    background-color: inherit;
    border: none;
    outline: none;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

#answer .save-button {
    background-image: url('../img/check-mark.png');
}

#answer .edit-button {
    background-image: url('../img/pen-icon.png');
}

#answer textarea:enabled ~ .save-button {
    display: block;
}

#answer textarea:disabled ~ .edit-button {
    display: block;
}

#answer textarea:disabled ~ #char-count {
    display: none;
}

#answer textarea {
    display: block;
    width: 100%;
    padding: 16vh 2rem;
    resize: none;
    border: none;
    outline: none;
    border-radius: 5px;
    line-height: 3rem;
    text-align: center;
    overflow: hidden;
}

#answer textarea {
    font-size: 1.6rem;
    font-weight: bold;
}

#answer textarea:disabled {
    font-size: 1.2rem;
}

#answers form {
    display: none;
}

#answers .answer {
    position: relative;
    padding: 16vh 2rem;
    border-radius: 5px;
    line-height: 3rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
}

#answers {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    flex: 1;
}

#answers .answer-short {
    display: flex;
    gap: 1rem;
    align-items: center;
    border-radius: 10px;
    padding: 1.5rem;
    min-width: 0;
}

#answers .text {
    flex: 1;
    font-size: 1.2rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#answers .num-votes {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: bold;
}

#answers .votes {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 1rem;
    top: 1rem;
}

#answers input[type=radio] {
    display: none;
}

#answers input[type=radio]:not(:checked) + .token {
    display: none;
}

#sidebar {
    position: fixed;
    left: -100vw;
    top: 0;
    background-color: white;
    z-index: 1000;
    transition: left ease-in 0.25s;
}

#sidebar main {
    gap: 1rem;
}

#close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    margin-left: auto;
}

.close {
    position: relative;
    width: 30px;
    height: 30px;
}

.close span {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    width: 24px;
    height: 2px;
    background-color: black;
    transform: translate(-50%, -50%) rotate(45deg);
}

.close span + span {
    transform: translate(-50%, -50%) rotate(-45deg);
}

#answer-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#answer-picker h2 {
    font-size: 1.4rem;
    font-weight: bold;
}

#answer-picker .token {
    width: 60px;
    height: 60px;
}

#answer-picker p {
    display: none;
}

#answer-picker .token.none + p {
    display: block;
    font-size: 1.2rem;
}

#select-o-matic {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: rgb(40, 40, 40);
    transition: all 1s;
    transition-delay: 3s;
    margin-inline: auto;
}

#select-o-matic .arrow {
    position: absolute;
    left: 40%;
    top: 45%;
    width: 20%;
    height: 45%;
    background-image: url(../img/arrow.png);
    background-size: 100% 100%;
    transform-origin: center 10%;
    transition: transform 1s;
}

#select-o-matic.long-spin .arrow {
    transform: rotate(calc(6 * -360deg));
    transition: transform 2s;
}

#select-o-matic.long-spin {
    margin-bottom: auto;
}

#select-o-matic.fade-away {
    width: 0;
    opacity: 0;
    margin-bottom: 0;
}

#select-o-matic.fade-away ~ * {
    visibility: hidden;
}

#select-o-matic.show-after ~ * {
    visibility: visible; 
}

#select-o-matic div:not(.arrow) {
    position: absolute;
    width: 25%;
    height: 35%;
    left: 38%;
    transform-origin: 50% -28.5%;
    bottom: 5%;
    mask-image: url(../img/teardrop.png);
    mask-size: 100% 100%;
    -webkit-mask-image: url(../img/teardrop.png);
    -webkit-mask-size: 100% 100%;
    background-size: 60% auto;
    background-repeat: no-repeat;
    background-position: center bottom 10%;
}

#select-o-matic div:not(.arrow).disabled {
    filter: brightness(25%);
}

#select-o-matic div.bg-car,
#select-o-matic.car .arrow {
    transform: rotate(var(--car-arrow-rotate));
}

#select-o-matic div.bg-dollar-sign,
#select-o-matic.dollar-sign .arrow {
    transform: rotate(var(--dollar-sign-arrow-rotate));
}

#select-o-matic div.bg-martini-glass,
#select-o-matic.martini-glass .arrow {
    transform: rotate(var(--martini-glass-arrow-rotate));
}

#select-o-matic div.bg-computer,
#select-o-matic.computer .arrow {
    transform: rotate(var(--computer-arrow-rotate));
}

#select-o-matic div.bg-guitar,
#select-o-matic.guitar .arrow {
    transform: rotate(var(--guitar-arrow-rotate));
}

#select-o-matic div.bg-football,
#select-o-matic.football .arrow {
    transform: rotate(var(--football-arrow-rotate));
}

#select-o-matic div.bg-clapperboard,
#select-o-matic.clapperboard .arrow {
    transform: rotate(var(--clapperboard-arrow-rotate));
}

#select-o-matic div.bg-high-heels,
#select-o-matic.high-heels .arrow {
    transform: rotate(var(--high-heels-arrow-rotate));
}
