@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

p {
    line-height: 150%;
}

html, body {
    width: 100%;
    height: 100%;
}

#app {
    position: relative;
    width: 100%;
    height: 100%;
    user-select: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

div.view {
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    background-color: rgb(0, 60, 85);
    height: 56px;
    padding: 0 20px;
}

#leading {
    width: 100px;
    background-image: url('../img/logo.png');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

#title {
    width: 100px;
}

#actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

#profile {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background-color: rgb(255, 255, 255);
    background-image: url('../img/user-icon-inverted.png');
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    
}

footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: rgb(0, 60, 85);
}

footer nav,
footer nav ul {
    height: 100%;
}

footer nav ul {
    display: flex;
    width: 100%;
}

footer nav li {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

footer nav li.active {
    color:rgb(68, 164, 84);
}

footer nav li .label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

footer nav li .label::before {
    display: block;
    content: '';
    width: 20px;
    height: 20px;
    background-size: 100%;
}

footer nav li.feed .label::before {
    background-image: url('../img/feed-icon.png');
}

footer nav li.mentors .label::before {
    background-image: url('../img/mentors-icon.png');
}

footer nav li.gems .label::before {
    background-image: url('../img/gem-icon.png');
}

footer nav li.questions .label::before {
    background-image: url('../img/question-icon.png');
}

footer nav li.feed.active .label::before {
    background-image: url('../img/feed-icon-active.png');
}

footer nav li.mentors.active .label::before {
    background-image: url('../img/mentors-icon-active.png');
}

footer nav li.gems.active .label::before {
    background-image: url('../img/gem-icon-active.png');
}

footer nav li.questions.active .label::before {
    background-image: url('../img/question-icon-active.png');
}

main {
    position: absolute;
    left: 0;
    top: 56px;
    right: 0;
    bottom: 60px;
}

div.loading {
    width: 100%;
    height: 100%;
    background-image: url('../img/loading-icon.gif');
    background-position: center;
    background-repeat: no-repeat;
}

div.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgb(255, 255, 255);
}

div.auth-view {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 240, 240);
}

.auth-view form {
    display: block;
    position: relative;
    max-width: 400px;
    width: 100vw;
    height: 100vh;
}

.auth-view input,
.auth-view select {
    display: block;
    width: 85%;
    height: 10vh;
    border: none;
    border-bottom: 1px solid rgb(200, 200, 200);
    outline: none;
    font-size: 120%;
}

.auth-view input + input,
.auth-view select + input,
.auth-view input + select,
.auth-view select + select {
    margin-top: 2vh;
}

.auth-view .top {
    background-image: url('../img/logo.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(76, 68, 164);
}

.auth-view .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#splash-view {
    background-color: rgb(76, 68, 164);
}

#splash-view .top {
    height: 50vh;
}

#splash-view .bottom {
    height: 50vh;
}

#sign-in-view .top,
#sign-up-view .top,
#forgot-pw-view .top {
    height: 40vh;
}

#sign-in-view .bottom,
#sign-up-view .bottom,
#forgot-pw-view .bottom {
    height: 60vh;
    background-color: rgb(255, 255, 255);
}

#sign-in-view .forgot-pw {
    color: rgb(150, 150, 150);
}

#forgot-pw-view p {
    width: 85%;
    font-size: 120%;
    font-weight: bold;
    color: rgb(150, 150, 150);
    text-align: center;
}

.auth-view .button.light,
.auth-view .button.dark {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 10vh;
    border-radius: 10px;
    font-weight: bold;
}

.auth-view .button.light {
    background-color: rgb(255, 255, 255);
    color: rgb(76, 68, 164);
}

.auth-view .button.dark {
    background-color: rgb(76, 68, 164);
    color: rgb(255, 255, 255);
}

.auth-view .button {
    margin: 5vh 0;
}

.auth-view .button + .button {
    margin-top: 0;
}