<!DOCTYPE html>
<html>
    <head>
        <title>Say Anything</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./../public/www/css/common.css">
        <script src="../../public/www/js/jquery-3.6.1.min.js"></script>
        <script src="./../public/www/js/lobby.js"></script>
    </head>
    <body>
        <div id="app">
            <header>
                <div class="left">
                    <div id="menu">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div class="center"><div id="title">Say Anything</div></div>
                <div class="right"></div>
            </header>
            <main>
                <div id="lobby">
                    <div id="my-games">
                        <h2>My Games</h2>
                        <ul></ul>
                    </div>
                    <div id="create-game">
                        <h2>Create New Game</h2>
                        <form action="game/create" method="get">
                            <input placeholder="Game Name" name="gameName" type="text">
                            <input placeholder="Your Name" name="playerName" type="text">
                            <h3>Your Token</h2>
                            <div id="tokens">
                                <label><input name="playerToken" type="radio" value="guitar"><span class="token guitar"></span></label>
                                <label><input name="playerToken" type="radio" value="computer"><span class="token computer"></span></label>
                                <label><input name="playerToken" type="radio" value="clapperboard"><span class="token clapperboard"></span></label>
                                <label><input name="playerToken" type="radio" value="car"><span class="token car"></span></label>
                                <label><input name="playerToken" type="radio" value="martini-glass"><span class="token martini-glass"></span></label>
                                <label><input name="playerToken" type="radio" value="dollar-sign"><span class="token dollar-sign"></span></label>
                                <label><input name="playerToken" type="radio" value="football"><span class="token football"></span></label>
                                <label><input name="playerToken" type="radio" value="high-heels"><span class="token high-heels"></span></label>
                            </div>
                            <button>Create</button>
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>